In [205]:
import pandas as pd

In [206]:
dataset = '/content/drive/MyDrive/rule penyakit.csv'

In [207]:
df = pd.read_csv(dataset)
df = df.fillna(0)
df = df.rename(columns={'value':'bel','G01':'c', 'G02':'i', 'G03':'f'})
df.head()

  code    c    i    f  bel
0   G1  1.0  1.0  0.0  0.3
1   G2  1.0  1.0  1.0  0.4
2   G3  0.0  1.0  0.0  0.4
3   G4  1.0  0.0  0.0  0.5
4   G5  0.0  1.0  1.0  0.5

In [208]:
df_dict = dict(
    list(
        df.groupby(df.index)

    )
)

data = []
for k, v in df_dict.items():               # k: name of index, v: is a df
    check = v.columns[(v == 1).any()]
    if len(check) > 0:
        mylist = check.to_list()
        mydata = ''.join(mylist)
        data.append(mydata)

In [209]:

df['pi'] = 1 - df['bel']
df['m'] = data

df

   code    c    i    f  bel   pi    m
0    G1  1.0  1.0  0.0  0.3  0.7   ci
1    G2  1.0  1.0  1.0  0.4  0.6  cif
2    G3  0.0  1.0  0.0  0.4  0.6    i
3    G4  1.0  0.0  0.0  0.5  0.5    c
4    G5  0.0  1.0  1.0  0.5  0.5   if
5    G6  0.0  1.0  0.0  0.2  0.8    i
6    G7  1.0  0.0  0.0  0.5  0.5    c
7    G8  1.0  0.0  0.0  0.2  0.8    c
8    G9  0.0  1.0  0.0  0.2  0.8    i
9   G10  1.0  0.0  0.0  0.5  0.5    c
10  G11  0.0  1.0  0.0  0.3  0.7    i
11  G12  0.0  0.0  1.0  0.4  0.6    f
12  G13  0.0  0.0  1.0  0.4  0.6    f
13  G14  0.0  0.0  1.0  0.2  0.8    f

In [210]:
df.drop(['c', 'i', 'f'], axis=1, inplace=True)

In [211]:
df = df.set_index('code')
df

      bel   pi    m
code
G1    0.3  0.7   ci
G2    0.4  0.6  cif
G3    0.4  0.6    i
G4    0.5  0.5    c
G5    0.5  0.5   if
G6    0.2  0.8    i
G7    0.5  0.5    c
G8    0.2  0.8    c
G9    0.2  0.8    i
G10   0.5  0.5    c
G11   0.3  0.7    i
G12   0.4  0.6    f
G13   0.4  0.6    f
G14   0.2  0.8    f

In [212]:
def get_value(code):
  result = df.loc[[code]]

  bel = result['bel'][0]
  pi = result['pi'][0]
  m = result['m'][0]
  tetta = 'cif-1'

  value_dict = dict({m:bel,tetta:pi})

  return value_dict

In [213]:
data = get_value('G6')
data

{'cif-1': 0.8, 'i': 0.2}

In [214]:
print(get_value('G1'))

{'ci': 0.3, 'cif-1': 0.7}

In [215]:
def DempsterRule(m1,m2):
    ## extract the frame of discernment      
    sets=set(m1.keys()).union(set(m2.keys()))
    result=dict.fromkeys(sets,0)
    ## Combination process
    for i in m1.keys():
        for j in m2.keys():
            if set(str(i)).intersection(set(str(j))) == set(str(i)):
                result[i]+=m1[i]*m2[j]
            elif set(str(i)).intersection(set(str(j))) == set(str(j)):
                result[j]+=m1[i]*m2[j]
                
                 
    ## normalize the results
    f= sum(list(result.values()))
    for i in result.keys():
        result[i] /=f
    result = result
    return result

In [216]:
symptoms = []

In [217]:
def predict(symptoms):
  for n in symptoms:
    m1 = {'cif-1':1.0}
    m2 = get_value(n)
    result = DempsterRule(m1,m2)
    m1 = result
  
  return m1

In [224]:
symptoms = ['G10','G7']
hasil = predict(symptoms)
result = max(hasil, key=hasil.get)
prob = hasil[result]*100
print('hasil diagnosis --> {} dengan akurasi {}%'.format(result,prob))

hasil diagnosis --> c dengan akurasi 50.0%

In [ ]:
fdf = pd.read_csv('/content/test sistem pakar yt.csv')
fdf = fdf.set_index('code')
fdf

In [ ]:
symptoms = ['G1','G3','G4']
hasil = predict(symptoms)
result = max(hasil, key=hasil.get)
print('hasil diagnosis --> {} dengan akurasi {}'.format(result,hasil[result]))