<a href="https://colab.research.google.com/github/dannynurdin/Product-Detection/blob/master/Product_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
from google.colab import drive
#drive.mount('/content/drive')
#!unzip "/content/drive/My Drive/Copy of shopee-product-detection-dataset.zip"

In [18]:
train_data_test = pd.read_csv('/content/test.csv')
train_data_test.head(100)

                                filename  category
0   fd663cf2b6e1d7b02938c6aaae0a32d2.jpg        43
1   c7fd77508a8c355eaab0d4e10efd6b15.jpg        43
2   127f3e6d6e3491b2459812353f33a913.jpg        43
3   5ca4f2da11eda083064e6c36f37eeb81.jpg        43
4   46d681a542f2c71be017eef6aae23313.jpg        43
..                                   ...       ...
95  f2acbf68a75f1b75b45623cf5b7ed74c.jpg        43
96  a2aa32796b4003909903289b3a0fa98f.jpg        43
97  fd838f17e9c4930c92f7f4a2d94728a6.jpg        43
98  1e43d4ef0367af1e540a375ccada07f8.jpg        43
99  ec19abe27e32731125735dee166b56fa.jpg        43

[100 rows x 2 columns]

In [19]:
train_data_train = pd.read_csv('/content/train.csv')
train_data_train.head(100)

                                filename  category
0   45e2d0c97f7bdf8cbf3594beb6fdcda0.jpg         3
1   f74d1a5fc2498bbbfa045c74e3cc333e.jpg         3
2   f6c172096818c5fab10ecae722840798.jpg         3
3   251ffd610399ac00fea7709c642676ee.jpg         3
4   73c7328b8eda399199fdedec6e4badaf.jpg         3
..                                   ...       ...
95  db682c8ab3122a08f3ee43c7ca90fe5b.jpg         3
96  3033d9e6f9a8463646fbdd45c1d52f1a.jpg         3
97  1efaec86a5e69f19a3c26a8fd557b960.jpg         3
98  abb3d3753b56a606eaf8bf418c02d8d4.jpg         3
99  e242f674567b4bed3adf839a1884b7c3.jpg         3

[100 rows x 2 columns]